@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Londrina+Solid:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.app__div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border: 1px solid #023047;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.app__div__routes {
  display: flex;
  flex-direction: column;
  flex-grow: 8;
  overflow-y: auto;
}

.userLoginInfo__div {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.4vw;
}

.userLoginInfo__div h3 {
  font-family: "Londrina Solid", cursive;
  font-size: calc(0.8rem + 0.5vw);
  text-decoration: none;
}

.userLoginInfo__div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2vw;
}

.userLoginInfo__div img {
  width: 50%;
  max-width: 50px;
  height: auto;
}

.userLoginInfo__div p {
  font-family: "Londrina Solid", cursive;
  font-size: calc(0.8rem + 0.5vw);
  text-decoration: none;
}

/*
Light blue: #cae9ff
Black/dark blue: #023047
Orange: #ff7900
white: #ffffff
grey: #e9ecef
*/
