@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Londrina+Solid:wght@300&display=swap");

.articlesList__div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.articlesList__card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media all and (min-width: 1000px) {
  .articlesList__card {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
  }
}

.articlesList__div__loading {
  font-family: "Londrina Solid", cursive;
  font-size: calc(2rem + 1vw);
  text-decoration: none;
  text-align: center;
}


