@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Londrina+Solid:wght@300&display=swap");

.article__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.article__div__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding: 12px;
  background: #8ecae6;
  border: 2px solid #023047;
  border-radius: 12px;
  font-family: "Londrina Solid", cursive;
  font-size: 0.8em;
  text-decoration: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.article__div__title {
  font-size: 1.3em;
}

.article__lineBreak {
  line-height: 10px;
}

.article__div__loading {
  font-family: "Londrina Solid", cursive;
  font-size: 2.5em;
  text-decoration: none;
}

.article__div__votes {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  gap: 8px;
}
