.articleCard__div {
    margin: 10px;
    padding: 12px;
    background: #8ecae6;
    border: 2px solid #023047;
    border-radius: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
}

.articleCard__div h2 {
    font-size: 1em;
}