@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Londrina+Solid:wght@300&display=swap");

.deleteComment__div {
  display: flex;
  flex-direction: column;
}

.deleteComment__div__btn {
  align-self: flex-end;
  padding: 5px;
  height: auto;
  width: 100%;
  max-width: 60px;
  background: #023047;
  border: 2px solid #023047;
  border-radius: 12px;
  font-family: "Londrina Solid", cursive;
  font-size: calc(0.8rem + 0.3vw);
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.deleteComment__div__btn__disabled {
  align-self: flex-end;
  height: auto;
  width: 100%;
  max-width: 60px;
  background: #023047;
  border: 2px solid #023047;
  border-radius: 12px;
  font-family: "Londrina Solid", cursive;
  font-size: calc(0.8rem + 0.3vw);
  text-align: center;
  text-decoration: none;
  color: #023047;
}

.deleteComment__div__p {
  align-self: flex-end;
  margin-top: 5px;
}
