@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Londrina+Solid:wght@300&display=swap");

.deleteComment__div {
  display: flex;
  flex-direction: column;
}

.deleteComment__div__btn {
  align-self: flex-end;
  height: 25px;
  width: 45px;
  background: #fb5607;
  border: 2px solid #023047;
  border-radius: 12px;
  font-family: "Londrina Solid", cursive;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  color: #023047;
}

.deleteComment__div__btn__disabled {
  align-self: flex-end;
  height: 25px;
  width: 45px;
  background: #023047;
  border: 2px solid #023047;
  border-radius: 12px;
  font-family: "Londrina Solid", cursive;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  color: #023047;
}

.deleteComment__div__p {
  align-self: flex-end;
  margin-top: 5px;
}
