/*
Light blue: #8ecae6
Steel grey: #219ebc
Black/dark blue: #023047
Yellow: #ffb703
Orange: #fb8500
*/

* {
    margin: 0px;
    padding: 0px;
}

.header__div {
  padding: 20px;
}

.logo {
  max-width: 250px;
  max-height: 150px;;
}