@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Londrina+Solid:wght@300&display=swap");

.home__div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home__ptag1 {
  text-align: center;
  font-size: calc(2rem + 3vw);
  font-family: "Londrina Solid", cursive;
}

.home__ptag2 {
  text-align: center;
  font-size: calc(1.2rem + 1.8vw);
  font-family: "Londrina Solid", cursive;
  color: #ff7900;
}

.home__div__enterapp__link {
  padding: 5px 10px;
  line-height: 6rem;
  border: 2px solid #023047;
  border-radius: 12px;
  font-family: "Londrina Solid", cursive;
  font-size: calc(2rem + 2vw);  
  text-align: center;
  text-decoration: none;
  background: #e9ecef;
  color: #023047;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

