@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Londrina+Solid:wght@300&display=swap");

.navigation__div {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.navigation__link1 {
  padding: 5px 10px;
  margin: 15px;
  background: #e9ecef;
  border: 2px solid #023047;
  border-radius: 12px;
  font-family: "Londrina Solid", cursive;
  font-size: calc(1rem + 0.8vw);
  text-align: center;
  text-decoration: none;
  color: #023047;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.navigation__link2 {
  padding: 5px 10px;
  margin: 15px;
  background: #e9ecef;
  border: 2px solid #023047;
  border-radius: 12px;
  font-family: "Londrina Solid", cursive;
  font-size: calc(1rem + 0.8vw);
  text-align: center;
  text-decoration: none;
  color: #023047;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}
