.postComment__div__loading {
  display: flex;
  font-family: "Londrina Solid", cursive;
  font-size: 2.5em;
  text-decoration: none;
}

.postComment__div__isPosted {
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  min-width: 100%;
}

.postComment__div__isPosted__p {
  display: flex;
  align-self: flex-start;
  margin-left: 12px;
  margin-top: 10px;
  margin-bottom: 3px;
  font-family: "Londrina Solid", cursive;
  font-size: 0.8em;
  text-decoration: none;
}

.postComment__div__container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
  padding: 12px;
  background: #e9ecef;
  border: 2px solid #023047;
  border-radius: 12px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
}

.postComment__label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Londrina Solid", cursive;
  font-size: 1em;
  text-decoration: none;
}

.postComment__textarea {
  border: 2px solid #023047;
  font-family: "Londrina Solid", cursive;
  font-size: 0.8em;
  text-align: left;
  text-decoration: none;
  color: #023047;
}

.postComment__btn {
  height: 25px;
  width: 45px;
  background: #fb5607;
  border: 2px solid #023047;
  border-radius: 12px;
  font-family: "Londrina Solid", cursive;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  color: #023047;
}
