@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Londrina+Solid:wght@300&display=swap");

.topics__div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.topics__div__main {
  display: flex;
  flex-direction: column;  
  flex-grow: 1;
}

.topics__div__categories {
  display: flex; 
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.topics__div__loading {
  font-family: "Londrina Solid", cursive;
  font-size: calc(2rem + 1vw);
  text-decoration: none;
  text-align: center;
}

.topics__div__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  margin: 15px;
  background: #fb5607;
  border: 2px solid #023047;
  border-radius: 12px;
  font-family: "Londrina Solid", cursive;
  font-size: calc(2rem + 2vw);
  text-align: center;
  text-decoration: none;
  color: #023047;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  
}
