.userLoginBox__div {
  background: #f8f9fa;
  border: 2px solid #023047;
  border-radius: 12px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
}